{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css')}}">
{% endblock %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='js/account.js') }}" defer></script>
{% endblock %}

{% block maincontent %}
<div id="login-container">
    <form action="/processlogin" method="post" enctype="multipart/form-data">
        <h3> Enter email address and password</h3>
        <h5> ("Login" for existing users, "Sign up" for new users) </h5>
        <span class="text-fields">
            <input type="text" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
        </span>

        <div class="buttons">
            <input type="button" name="login" value="Login" onclick="checkCredentials()">
            <input type="button" name="Signup" value="Sign up" onclick="signUp()">
        </div>

        </form>
</div>
{% endblock %}